<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifier votre profil</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="accueil.html">
                MajStore
            </a>
        </div>

        <div class="navbar-collapse collapse" id="menu">
            <ul class="nav navbar-nav">
                <li>
                    <a href="Other_pages/profil.html">Profil</a>
                </li>
                <form action="../../controllers/deconnexion.php">
                <li>
                    <a href="Other_pages/connexion.html">Se déconnecter</a>
                </li>
                </form>
            </ul>
        </div>
    </div>
</nav>
<form method="post" action="/Ecommerce/controllers/modif.php">
    <div>

        <p>
            Nom:
            <br>
            <input type="text" placeholder="Nom" class="form-control input-sm chat-input">
        </p>

        <p>
            Prénom:
            <br>
            <input type="text" placeholder="Prénom" class="form-control input-sm chat-input">
        </p>


        <p>
            Mot de passe:
            <br>
            <input type="password" placeholder="Mot de passe" class="form-control input-sm chat-input">
        </p>

        <input type="submit" name="confirm">
    </div>
</form>


</body>
</html>
